*{
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-thumb {
  background: #888;
}

body{
  background-color: #141414;
  overflow: hidden;
}

.controls{
  padding: 12px;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #212028;
  color: #eee;
  display: flex;
  justify-content: space-between;
}

input, select{
  font-family: inherit;
  font-size: inherit;
  margin: 0 12px;
}

input[type="number"]{
  width: 60px;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.iframecontainer{
  flex: 1;
}

iframe{
  width: 100%;
  height: 100%;
}

a{
  color: #D4E2D4;
  text-decoration: none;
  padding: 6px 8px;
  border-radius: 10px;
  transition: .1s;
}

a:hover{
  background-color: #D4E2D4;
  color: #212028;
}